/* Sidebar Visible */
#sidebar.sidebar-visible {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

/* Sidebar Hidden */
#sidebar.sidebar-hidden {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

/* Sidebar structure */
.sidebar {
  position: fixed; /* Ensures it's off the main flow */
  top: 40px;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #fff;
  z-index: 100; /* Adjust as necessary */
}

.header {
  height: 60px; /* Adjust this depending on your header size */
  background-color: #f8f9fa;
}
